td {
    font-size: 7px;
    vertical-align: top;
    alignment: left;
    width: 40px;
    height: 40px;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.currentCell {
    border: 2px solid blue;
}